.features-section {
  background-image: url('../../Images/featuresBackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding: 4rem 1rem;
}

.features-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.light {
  margin: 0;
  padding: 16px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 109px;
  height: 30px;
  background-color: #e9f8d8;
  border-radius: 32px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  gap: 8px;
}

.features-header .features-title {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  color: #2c3e50;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.3s ease;
  width: 355px;
  height: 380px;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-icon {
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
}

.feature-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 0.5rem;
}

.feature-description {
  font-size: 0.95rem;
  color: #7f8c8d;
  margin-bottom: 1rem;
}
.btnIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 219px;
  height: 54px;
  gap: 12px;
  background-color: #afe274;
  border-radius: 33px;
  padding: 0 20px;
  margin-top: auto;
  cursor: pointer;
}
