.navbar {
  background-color: #242323;
  padding: 8px 8px 8px 16px;
  width: 966px;
  height: 72px;
  margin-top: 48px;
  margin-left: 237px;
  border-radius: 44px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  color: white;
  position: relative;
  outline: none !important;
  transition: 0.2s;
}
.nav-links li {
  list-style: none;
  display: flex;
  gap: 20px;
}

.btnIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 219px;
  height: 54px;
  gap: 12px;
  background-color: #afe274;
  border-radius: 33px;
  padding: 0 20px;
}
