.sps-container {
  padding: 60px 20px;
  text-align: center;
  margin: 0 auto;
  padding: 3rem;
  background-image: url('../../Images/bgSteps.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: grid;
  align-items: flex-start;
  justify-content: center;
}

.light {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 10px 20px;
  background-color: #e9f8d8;
  border-radius: 32px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  gap: 8px;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.how-it-works {
  display: flex;
  align-items: center;
  background-color: #afe27433;
  border-radius: 16px;
  padding: 8px 16px;
  margin-bottom: 20px;
}

.icon {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.how-it-works-text {
  font-size: 10px;
  font-weight: 350;
  text-transform: uppercase;
  color: #2f2f2f;
}

.title {
  font-size: 48px;
  font-weight: 700;
  color: #2f2f2f;
  text-align: center;
}

.steps-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.step-card {
  background-color: #fff;
  border-radius: 24px;
  padding: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  max-width: 400px;
  text-align: center;
}

.step-number {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.step-title {
  font-size: 24px;
  font-weight: 700;
  color: #242323;
  margin: 16px 0;
}

.step-description {
  font-size: 16px;
  color: #7d7d7d;
  margin-bottom: 24px;
}

.step-image {
  width: 100%;
  height: auto;
  border-radius: 12px;
}
