.hero-container {
  margin: auto;
  padding: 50px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  width: 100%;
  text-align: center; /* Center-align the content */
}

.hero-button {
  margin-bottom: 20px; /* Add spacing between the button and text */
}

.lightIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto; /* Adjust to fit content */
  padding: 10px 20px;
  background-color: #e9f8d8;
  border-radius: 32px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  gap: 8px;
}

.hero-text h1 {
  font-size: 2.5rem; /* Make it prominent */
  font-weight: bold;
  max-width: 920px;
  line-height: 1.4;
  margin: 0 auto;
  padding: 20px 0;
  color: #333;
}
.small-text p {
  color: #666565;
  margin: 0 auto;
  max-width: 590px;
}
.twoBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin: auto;
}
.user-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #666565;
}
.woman-img {
  padding: 50px;
}

@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 1.8rem; /* Adjust font size for smaller screens */
    line-height: 1.3;
  }
}
